snippet class
class $1:
    """$2

	$0
    """
    def __init__(self):
		pass
        
def main():
	"""This is the main function that will test/run the class"""
    pass

if __name__ == "__main__":
    main()
endsnippet
snippet doc
""" $1

$0
"""
endsnippet


